#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [3]:
import sqlite3

In [4]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [5]:
cursor=connection.cursor()

In [6]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [7]:
cursor.execute('''
        Select * from employees
''')

In [8]:
## Insert the data in sqlite3 table

cursor.execute('''
Insert Into employees(name, age, department)
               values('Krish',32,'DataScientist')
''')
connection.commit()

In [9]:
cursor.execute('''select * from employees''')
rows=cursor.fetchall()
for row in rows:
    
    print(row)

(1, 'Krish', 32, 'DataScientist')

In [10]:
## Update the data in the table
cursor.execute('''
UPDATE employees
SET age=34
where name="Krish"
''')

connection.commit()

In [11]:
cursor.execute('''select * from employees''')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 34, 'DataScientist')

In [12]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name='Krish'
''')

connection.commit()

In [13]:
cursor.execute('''select * from employees''')
rows=cursor.fetchall()
for row in rows:
    print(row)