# Handling Imbalanced Dataset

### 1.Up Sampling
### 2.Down Sampling

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with the classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [ ]:
n_class_0, n_class_1

(900, 100)

In [4]:
## CREATE MY DATAFRAME WITH IMBALANCED DATEASET
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_1),
    'target':[1]*n_class_1
})

In [6]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [8]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [9]:
## Up Sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
from sklearn.utils import resample
df_minority_unsampled=resample(df_minority, replace=True, #Sample eith replacement
         n_samples=len(df_majority),
         random_state=42
         )

In [13]:
df_minority_unsampled.shape

(900, 3)

In [14]:
df_minority_unsampled.head()

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

In [16]:
df_unsampled=pd.concat([df_majority, df_minority_unsampled])

In [17]:
df_unsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [19]:
## Down Sampling

In [ ]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with the classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

## CREATE MY DATAFRAME WITH IMBALANCED DATEASET
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_1),
    'target':[1]*n_class_1
})

df=pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [20]:
## Down Sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [21]:
from sklearn.utils import resample
df_majority_unsampled=resample(df_majority, replace=False,
         n_samples=len(df_minority),
         random_state=42
         )

In [22]:
df_majority_unsampled.shape

(100, 3)

In [23]:
df_unsampled=pd.concat([df_minority, df_majority_unsampled])

In [25]:
df_unsampled.target.value_counts()# Down sampling is bad as we lose data

target
1    100
0    100
Name: count, dtype: int64